<div class="hero">
<a href="{{ collections['frontpage'].url }}">
  <img src="{{ 'mahnidance.png' | asset_url }}">
</a>
</div>
{% stylesheet %}
header a {
  color:green;
}
{% endstylesheet %}


{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}


