<div class="hero">
<a href="{{ collections['frontpage'].url }}">
  <img src="{{ 'mahnidance.png' | asset_url }}">
</a>
</div>
{% stylesheet %}
{% if template contains 'index' %}

header a {
  color:orange;
}
{% endif %}
{% endstylesheet %}

{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}


