<div class="hero">
<a href="{{ collections['frontpage'].url }}">
  <img src="{{ 'mahnidance.png' | asset_url }}">
</a>
</div>

{% if template contains 'hello-world' %}

{% endif %}

{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}


