<div class="hero">
<a href="{{ collections['frontpage'].url }}">
  <img src="{{ 'mahnidance.png' | asset_url }}">
</a>
</div>

{%  style %}
header a {
  color:white;
}
.header__title svg{
width:500px;
}

.cls-1 {
  fill:white;
}
{% endstyle %}


{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}


